<td class="nowrap">
  <a [routerLink]="['/trade']" [queryParams]="{symbol: trade.Symbol}" queryParamsHandling="merge">{{trade.Symbol}}</a>
  <br/>
  {{trade.Status}}
  <br/>
  O: {{trade.OpenTime | date:"LLL dd HH:mm:ss"}}
  <br/>
  <span *ngIf="trade.CloseTime">
    C: {{trade.CloseTime| date:"LLL dd HH:mm:ss"}}
  </span>
  <span
      style="display: block; font-size: 0.675rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
    <a [routerLink]="['/trade', trade.TradeID]">{{trade.TradeID}}</a>
  </span>
</td>

<!-- Buy. -->
<td>
  <table class="table-hover">
    <tr>
      <th>Status</th>
      <td>{{trade.LastBuyStatus}}</td>
    </tr>
    <tr>
      <th>Price</th>
      <td>{{trade.BuyOrder.Price | number:".8-8"}}</td>
    </tr>
    <tr>
      <th>Quantity</th>
      <td>{{trade.BuyOrder.Quantity}}</td>
    </tr>

    <tr>
      <th>Filled</th>
      <td>{{trade.BuyFillQuantity | number:".0-8"}}</td>
    </tr>
    <tr>
      <th>Price</th>
      <td *ngIf="trade.BuyFillQuantity > 0">
        {{trade.AverageBuyPrice | number:".8-8"}}
      </td>
      <td *ngIf="trade.BuyFillQuantity == 0">--</td>
    </tr>
    <tr>
      <th>Cost</th>
      <td *ngIf="trade.BuyFillQuantity > 0">
        {{trade.BuyCost | number:".8-8"}}
      </td>
      <td *ngIf="trade.BuyFillQuantity == 0">--</td>
    </tr>
    <tr>
      <th>Off %</th>
      <td>{{trade.buyPercentOffsetPercent | number:".3-3"}}</td>
    </tr>
  </table>
</td>

<!-- Current state. -->
<td>
  <table>
    <tr>
      <th>Last</th>
      <td>{{trade.LastPrice | number:".8-8"}}</td>
    </tr>
    <tr>
      <th>Profit %</th>
      <td *ngIf="trade.ProfitPercent">
        {{trade.ProfitPercent | number:".3-3"}}%
      </td>
      <td *ngIf="!trade.ProfitPercent">
        --
      </td>
    </tr>
    <tr>
      <th>Profit</th>
      <td *ngIf="trade.Profit">
        {{trade.Profit | number:".8-8"}}
      </td>
      <td *ngIf="!trade.Profit">
        --
      </td>
    </tr>

    <tr>
      <td></td>
      <td>
        <b style="color: grey">-- Sell --</b>
      </td>
    </tr>

    <tr>
      <th>Filled</th>
      <td>{{trade.SellFillQuantity > 0 && trade.SellFillQuantity ||
        "--"}}
      </td>
    </tr>
    <tr>
      <th>Price</th>
      <td>{{trade.AverageSellPrice | number:".8-8" || "--"}}</td>
    </tr>
    <tr>
      <th>Cost</th>
      <td>{{trade.SellCost || "--"}}</td>
    </tr>

  </table>
</td>

<ng-template #tdDoubleDash>
  <td>--</td>
</ng-template>

<!-- Sell. -->
<td>
  <table>
    <tr>
      <th>Type</th>
      <td>{{trade.SellOrder.Type || "--"}}</td>
    </tr>
    <tr>
      <th>Status</th>
      <td>{{trade.SellOrder.Status || "--"}}</td>
    </tr>
    <tr>
      <th>Price</th>
      <td *ngIf="trade.SellOrder.Price > 0; else tdDoubleDash">
        {{trade.SellOrder.Price | number:".8-8"}}
      </td>
    </tr>
    <tr>
      <th>Quantity</th>
      <td *ngIf="trade.SellOrder.Quantity > 0; else tdDoubleDash">
        {{trade.SellOrder.Quantity}}
      </td>
    </tr>

    <tr>
      <td></td>
      <td>
        <b style="color: grey">-- Limit Sell--</b>
      </td>
    </tr>

    <tr>
      <th>Enabled</th>
      <td>{{trade.LimitSell.Enabled}}</td>
    </tr>

    <tr *ngIf="trade.LimitSell.Enabled">
      <th>Type</th>
      <td>{{trade.LimitSell.Type}}</td>
    </tr>

    <tr *ngIf="trade.LimitSell.Enabled && trade.LimitSell.Type == 'PERCENT'">
      <th>Percent</th>
      <td>{{trade.LimitSell.Percent}}</td>
    </tr>

    <tr *ngIf="trade.LimitSell.Enabled && trade.LimitSell.Type == 'PRICE'">
      <th>Price</th>
      <td>{{trade.LimitSell.Price}}</td>
    </tr>

  </table>
</td>

<!-- Stops. -->
<td class="nowrap">
  <table class="table-hover">
    <tr>
      <th>Stop Loss</th>
      <td *ngIf="trade.__isOpen">
        <a href="javascript:void(0);"
           data-toggle="dropdown"
        >{{trade.StopLoss.Enabled}}</a>
        <div class="dropdown-menu dropdown-menu-right"
             style="margin: 0; padding: 0">
          <app-stoploss-form [trade]="trade"></app-stoploss-form>
        </div>
      </td>
      <td *ngIf="!trade.__isOpen">
        {{trade.StopLoss.Enabled}}
      </td>
    </tr>
    <tr>
      <th>Percent</th>
      <td>{{trade.StopLoss.Percent}}</td>
    </tr>
    <tr>
      <th>Triggered</th>
      <td>{{(trade.StopLoss && trade.StopLoss.Triggered) || "--"}}</td>
    </tr>
    <tr>
      <td colspan="2">
        <hr/>
      </td>
    </tr>
    <tr>
      <th>Trailing Profit</th>
      <!-- If... -->
      <td *ngIf="trade.__isOpen">
        <a href="javascript:void(0);"
           data-toggle="dropdown"
        >{{trade.TrailingProfit.Enabled}}</a>
        <div class="dropdown-menu dropdown-menu-right"
             style="margin: 0; padding: 0">
          <app-trailingprofitform [trade]="trade"></app-trailingprofitform>
        </div>
      </td>
      <!-- Else... -->
      <td *ngIf="!trade.__isOpen">
        {{trade.TrailingProfit.Enabled}}
      </td>
    </tr>
    <tr>
      <th>Percent</th>
      <td>{{trade.TrailingProfit.Percent}}</td>
    </tr>
    <tr>
      <th>Deviation</th>
      <td>{{trade.TrailingProfit.Deviation}}</td>
    </tr>
    <tr>
      <th>Activated</th>
      <td>
        {{trade.TrailingProfit && trade.TrailingProfit.Activated || "--"}}
      </td>
    </tr>
    <tr>
      <th>Triggered</th>
      <td>
        <span *ngIf="trade && trade.TrailingProfit">
          {{trade.TrailingProfit && trade.TrailingProfit.Triggered || "--"}}
        </span>
        <span *ngIf="!(trade && trade.TrailingProfit)">--</span>
      </td>
    </tr>
  </table>

</td>

<td *ngIf="showTradeButtons" style="width: 130px;" tabindex="-1">
  <div class="row button-bar">
    <div class="col-12">
      <button type="button"
              class="btn btn-primary btn-sm mb-1 btn-block"
              [disabled]="trade.Status != TradeStatus.PENDING_BUY"
              (click)="cancelBuy(trade)"
      >Cancel Buy
      </button>
    </div>
    <div class="col-12">

      <div [id]="'sellDropdown-' + trade.TradeID"
           class="btn-group btn-block dropleft">
        <button type="button"
                class="btn btn-primary btn-sm dropdown-toggle mb-1 btn-block"
                data-toggle="dropdown" aria-haspopup="true"
                [disabled]="!trade.__canSell"
                aria-expanded="false">
          Sell
        </button>
        <div class="dropdown-menu sell-dropdown" style="width: 250px;">
          <div class="px-2">
            <form (ngSubmit)="limitSellAtPrice()">
              <div class="form-group">
                <label>Sell at price</label>
                <div class="input-group">
                  <input type="number" required class="form-control"
                         name="sellAtPriceModelPrice"
                         step="0.00000001"
                         [(ngModel)]="sellAtPriceModel.price"
                         (click)="$event.stopPropagation();">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Sell</button>
                  </div>
                </div>
              </div>
            </form>

            <form (ngSubmit)="limitSellAtPercent()">
              <div class="form-group">
                <label>Sell at %</label>
                <div class="input-group">
                  <input type="number" required class="form-control"
                         name="sellAtPercentModelPrice"
                         step="0.1"
                         [(ngModel)]="sellAtPercentModel.percent"
                         (click)="$event.stopPropagation();">
                  <div class="input-group-append">
                    <select class="custom-select form-control-sm"
                            #percentSelector
                            style="border-bottom-right-radius: 0; border-top-right-radius: 0;"
                            (change)="sellAtPercentModel.percent = +percentSelector.value; percentSelector.value = '%'"
                            (click)="$event.stopPropagation();"
                    >
                      <option>%</option>
                      <option>0</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Sell</button>
                  </div>
                </div>
              </div>
            </form>

            <hr/>

            <button type="button" class="btn btn-block"
                    (click)="onMarketSellClick($event)"
                    [disabled]="!trade.__canMarketSell"
                    [ngClass]="{'btn-warning': marketSellState == MARKET_SELL_STATE.INITIAL,
                                'btn-danger': marketSellState == MARKET_SELL_STATE.CONFIRM}"
            >{{marketSellState == MARKET_SELL_STATE.CONFIRM && "Confirm " ||
              ""}}Market
              Sell
            </button>

            <button type="button" class="btn btn-block btn-secondary">Close
            </button>

          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <button type="button"
              class="btn btn-primary btn-sm mb-1 btn-block"
              (click)="cancelSell(trade)"
              [disabled]="!trade.__canCancelSell"
      >
        Cancel Sell
      </button>
    </div>

    <div class="col-12">
      <button type="button"
              class="btn btn-primary btn-sm mb-1 btn-block"
              [disabled]="!trade.__canArchive"
              (click)="archive(trade)">Archive
      </button>
    </div>

    <div class="col-12">
      <div class="dropdown dropup">
        <button class="btn btn-primary btn-sm btn-block dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                [disabled]="!trade.__canAbandon"
                aria-haspopup="true" aria-expanded="false">
          Abandon
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="javascript:void(0);"
             (click)="abandon()">Yes, Abandon trade.</a>
          <a class="dropdown-item" href="javascript:void(0);">Cancel</a>
        </div>
      </div>
    </div>

  </div>

</td>
