@import "~bootstrap/scss/bootstrap";

.form-group {
    label {
        margin-bottom: 0px;
        font-size: 0.8rem;
    }
}

.card-body {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 10px;
}

.input-group-prepend {
    .form-control {
        border-top-right-radius: 0;
        z-index: 998;
        border-bottom-right-radius: 0;
    }
}

// Tighten up the spacing between columns without changing the spacing before
// the first and after the last.
.col, .col-2, .col-3, .col-4, .col-5, .col-7 {
    &:not(:first-child) {
        padding-left: 2px;
    }

    &:not(:last-child) {
        padding-right: 2px;
    }
}

.form-group {
    margin-bottom: 0;
}

input:disabled {
    cursor: not-allowed;
}

// Make some components their small variant by default.
.form-control {
    @extend .form-control-sm;
}

.btn {
    @extend .btn-sm;
}

.input-group {
    @extend .input-group-sm;
}

// A button that wraps a checkbox and a label.
.wrapper-button {
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    outline: none !important;
    cursor: pointer !important;

    label {
        cursor: pointer;
    }
}

.wrapper-button:hover {
    background: #f7f7f7;
}

.radio {
    -moz-appearance: radio;
    -webkit-appearance: radio;
}
